<!DOCTYPE html>
<html>
<head>
    <title>TheWay GUI</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="scripts.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>

<body ng-app="app">
    <div class="container">
        <div ng-controller="tableCtrl">
            <h1>Testa ett ord på en hemsida</h1>

            <p>Välj din hemsida:</p>
            <input type="text" ng-model="website">
            <p>Välj ditt ord:</p>
            <input type="text" ng-model="word">
            <p>Välj ditt tidsintervall:</p>
            <input type="number" ng-model="number">
            <div>
                <button type="submit" ng-click="onclick()">Prova här</button>
            </div>

            <h3>{{answer}}</h3>
            
            <table class="table table-striped">
                <tr>
                    <th>Website</th>
                    <th>Word Counts</th>
                    <th>Time Interval</th>
                </tr>
                <tr ng-repeat="post in postsList">
                    <td>{{post.website}}</td>
                    <td>{{post.word}}</td>
                    <td>{{post.number}}</td>
                </tr>
            </table>
        </div>
    </div>



</body>
</html>